@use "../../styles/variables.scss";

.summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: -110px;
  overflow-x: auto;

  div {
    background: variables.$white;
    padding: 16px 24px;
    border-radius: 0.25px;
    color: variables.$text-primary;
    width: 280px;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    strong {
      display: block;
      font-weight: 500;
      margin-top: 16px;
      font-size: 32px;
      line-height: 48px;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.highlight-background {
      background: variables.$green-default;
      color: #fff;
    }
  }
}
